/*Fix for CSS transitions not working in customizer panel*/
.wp-full-overlay-sidebar:after {display: none;}
/*Prettify some panels*/
li#customize-control-post-carousel-button-text-pre, li#customize-control-post-carousel-auto-play-pre,
li#customize-control-post-carousel-button-text-pre-2, li#customize-control-post-carousel-auto-play-pre-2,
li#customize-control-post-carousel-button-text, li#customize-control-post-carousel-auto-play,
li#customize-control-post-carousel-button-text-2, li#customize-control-post-carousel-auto-play-2,
li#customize-control-post-carousel-button-text-3, li#customize-control-post-carousel-auto-play-3,
li#customize-control-post-carousel-button-text-4, li#customize-control-post-carousel-auto-play-4,
li#customize-control-post-carousel-button-text-5, li#customize-control-post-carousel-auto-play-5,
li#customize-control-post-carousel-button-text-6, li#customize-control-post-carousel-auto-play-6 {
    padding-top: 20px;
    border-top: 5px solid #dbdbdb;
    margin-top: 5px;
}
/**/
.in-sub-panel #customize-theme-controls .customize-pane-child.current-panel-parent,
#customize-theme-controls .customize-pane-child.current-section-parent {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.cb_toggle {
	cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a0a5aa;
    -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    width: 48px;
    height: 22px;
    border-radius: 25px;
    line-height: 1;
    padding: 2px;
    box-sizing: border-box;
    display: block;
}
.cb_toggle:before {
  position: relative;
  content: "";
  width: 50%;
  height: 100%;
  left:0;
  background-color: white;
  -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1); 
  border-radius:30px;
  z-index:10;
  display: block;
}
.toggle-checkbox input:checked + label .cb_toggle {
  background-color: #0085ba;
}
.toggle-checkbox input:checked + label .cb_toggle:before {
  left:50%;
  content: "\2713";
	text-align:center;
	line-height:18px
}
.toggle-checkbox input:checked + label {
  font-weight:600;
}
.customize-control span.toggle-checkbox {
	position: relative;
	margin-left: 0;
	padding: 0;
	line-height: 26px;
}
.toggle-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
  border: 0;
  margin: 0;
  position:absolute;
}
.toggle-checkbox label {
	line-height: 1;
    display: flex;
    gap: 10px;
    align-items: center;
}
li#customize-control-add_cpt {
    margin-top: 10px;
}
li#customize-control-nav-over-banner {
    margin-top: 20px;
}