/******************************************************************
Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.
******************************************************************/



#content {
	min-height: 30vh;
}

/*********************
HEADER STYLES
*********************/
.header {

	#logo {
		text-align: left;
	}
	
}

.logo-nav {
	display: flex;	
	align-items: center;
}

#inner-header {
	display: flex;	
	align-items: center;
}

/******************************
BLOG STYLES
******************************/
.blog, .archive {
	#main {
		/*Blog Grid Template*/
		&.blog-grid {
			grid-template-columns: 1fr 1fr 1fr;

		}
	}
	
}