/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!
******************************************************************/


/******************************
GENERAL STYLES
******************************/


/******************************
LAYOUT & GRID STYLES
******************************/

/******************************
HEADER STYLES
******************************/
.top-bar {
	
	padding: .5em 0;
	
	.header-social {
		display: block;			
	}
	
	.header-phone, .re-header-phone {
		text-align: right;
		
	}
}

#top-bar-widgets {
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
	
}
/******************************
NAVIGATION STYLES
******************************/
.nav {
	border: 0;
	ul {
		margin-top:0;
		margin-bottom: 0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			&:hover, &:focus {
				color: $bones-pink;
				text-decoration: underline;
			}
		}
		
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			//border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

				}
				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}
		}

		/* showing sub-menus */
		&:hover > ul, &.hover > ul {
			top: auto;
			visibility:visible;
		}
	}
} 


/******************************
Realestate Title Section 
******************************/
h1 {
	display: inline-block;	
}

.title-price {
	display: inline-block;
	float: right;
	margin-top: 45px;
	font-size: 1.5em;
}

/******************************
Top Feature Sections
******************************/
.inner-pre-content-widgets, 
.inner-pre-content-widgets-2 {
	display: flex; 
	flex-wrap: nowrap; 
	justify-content:space-around;
}

/******************************
Bottom Feature Sections
******************************/
.inner-post-content-widgets,
.inner-post-content-widgets-2,
.inner-post-content-widgets-3, 
.inner-post-content-widgets-4, 
.inner-post-content-widgets-5,
.inner-post-content-widgets-6 {

	display: flex; 
	flex-wrap: nowrap; 
	justify-content:space-around;
	
}

/******************************
BLOG STYLES
******************************/
.blog, .archive {
	#main {
		/*Blog Grid Template*/
		&.blog-grid {

			grid-template-columns: 1fr 1fr;

		}
	}
	
}

/******************************
SIDEBARS & ASIDES
******************************/
.widget {
	padding: 0 10px;
	margin: 2.2em 0;

	ul {
		li {
			margin-bottom: 0.75em;

			&:first-child {}
			&:last-child {}
			a {}
			/* deep nesting */

			ul {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
}


/******************************
FOOTER STYLES
******************************/
#footer-widgets {
	display: flex; 
	flex-wrap: nowrap; 
	justify-content:space-around;	
}