/******************************************************************
Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.
******************************************************************/

/******************************
GENERAL STYLES
******************************/

body {
	font-family: $lato;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	overflow-wrap: break-word;	
}

img {
	max-width: 100%;
	height: auto;
}

/******************************
LAYOUT & GRID STYLES
******************************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/******************************
LINK STYLES
******************************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}


	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************
H1, H2, H3, H4, H5 STYLES
******************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1, h1.page-title {
	font-size: 2.5em;
	line-height: 1.333em;
	margin-top: .75em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/******************************
HEADER STYLES
******************************/

.top-bar {
	
	padding: .5em 0;
	display: flex;
	align-items:center;
		
	.header-social {
		display: none;
		line-height:0;
		a {
			display:inline-block;
		}
		svg {
			height: 28px;
			
		}
		.sml {
			svg {
				height: 24px;
				vertical-align: 0.125em;
			}
		}
	}
	
	.header-phone, .re-header-phone {
		text-align: center;
		font-size: 1.2em;
		font-weight: 700;
		
		a {

			text-decoration: none;
		
		}
	}
}

.re-sm-top {
	a {		
		font-size: 20px;
   	}
}

.re-last-col {
	line-height: 1;
	text-align: right;	
}

.re-nav {
	margin-top: 10px;
	a {
		color: #000;
		text-decoration: none;
		font-size: .8em;
		margin-right: .4em;
		display: block;
		text-align: center;
		background: #ddd;
		border-bottom: #000 1px dotted;
		padding: 10px 0;
		
	}
}


.header {
	#logo {
		text-align: center;
	}
}
.header-email {
	svg {
		height: 20px;
		display: inline-block;
		vertical-align: -0.25em;
	}
}
.header-mailing {
	
	i, span {
		font-size: 20px;
	}
	svg {
		height: 20px;
		display: inline-block;
		vertical-align: -0.125em;
	}
}


/******************************
BANNER STYLES
******************************/
.desktop-banner {
	display:none;
}
.shared-banner-cta {
	display: flex;	
	justify-content: center;
	color: $white;
	
	a {
		text-decoration: none;	
		padding: .25em 1em;	
	}
	
}
.shared-cta-bg {
	text-align: center;	
	display: inline-block;
	padding: 1em;
	
}
/******************************
SLIDER & SLICK SLIDER
******************************/
.banner-slide {
     display: none;
}
.banner-1.banner-slide {
    display: block;
}
.banner-wrapper {
	div.slick-slider {
		margin-bottom: 0;
	}
	.slick-dots {
		bottom: 5px;
    	background: transparent;
	}
	.slick-prev	{
		left: 25px;
		z-index: 99;
	}
	.slick-next {
		right: 25px;
		z-index: 99;
	}
}



/******************************
PRE MAIN CONTENT
******************************/
/*boxes*/
.service-boxes-pre {
	background: $gray;	
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	
	h2 {
		margin-top: 0;	
	}
	
	.service-button-pre a {
		background: $dark-gray;
		color: $white;	
		text-decoration: none;	
		padding: .25em 1em;	
	
		&:hover, &:active, &:focus {
			background: $light-gray;
			color: $black;	
		}	
			
	}
}
.inner-service-boxes-pre {
	padding: 0 .5em;	
}

.inner-service-box-bg-pre {
	padding: .5em;	
	margin: .5em;
	background: $white;	
	box-shadow: .5px .5px 2px #292929;	
}

/*CAROUSEL*/
.pre-main-content {
	
	.slick-dots {
		background-color: transparent;
	}
}



/******************************
PRE MAIN CONTENT 2
******************************/
/*boxes*/
.service-boxes-pre-2 {
	background: $black;		
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	
	h2 {
		margin-top: 0;	
	}
	
	.service-button-pre-2 a {
		background: $dark-gray;
		color: $white;	
		text-decoration: none;	
		padding: .25em 1em;	
	
		&:hover, &:active, &:focus {
			background: $light-gray;
			color: $black;	
		}	
			
	}
		
}
.inner-service-boxes-pre-2 {
	padding: 0 .5em;
		
}
.service-box-bg-pre-2 {
	
}
.inner-service-box-bg-pre-2 {
	padding: .5em;	
	margin: .5em;
	background: $white;	
	box-shadow: .5px .5px 2px #292929;	
}

/*carousel*/
.pre-main-content-2 {
	
	.slick-dots-2 {
		background-color: transparent;
	}
}


/******************************
SERVICE BOXES STYLES (POST MAIN CONTENT SECTION)
******************************/
.service-boxes, .service-boxes-2,.service-boxes-3,.service-boxes-4,.service-boxes-5,.service-boxes-6 {
	background-color: $gray;	
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	
	h2 {
		margin-top: 0;	
	}
	
	.service-button a, .service-button-2 a, .service-button-3 a, .service-button-4 a, .service-button-5 a, .service-button-6 a {
		background: $dark-gray;
		color: $white;	
		text-decoration: none;	
		padding: .25em 1em;	
	
		&:hover, &:active, &:focus {
			background: $light-gray;
			color: $black;	
		}	
			
	}
		
}
.inner-service-boxes {
	padding: 0 .5em;
		
}

.inner-service-box-bg,.inner-service-box-bg-2,.inner-service-box-bg-3,.inner-service-box-bg-4,.inner-service-box-bg-5,.inner-service-box-bg-6  {
	padding: .5em;	
	margin: .5em;
	background: $white;	
	box-shadow: .5px .5px 2px #292929;	
}

/*map*/
#map{
  height: 100%;
}
.re-map {
	height: 300px;
}


/******************************
SERVICE BOXES STYLES (POST MAIN CONTENT SECTION)
******************************/
.service-boxes-2 {
	background: $black;	
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	
	h2 {
		margin-top: 0;	
	}
	
	.service-button-2 a {
		background: $dark-gray;
		color: $white;	
		text-decoration: none;	
		padding: .25em 1em;	
	
		&:hover, &:active, &:focus {
			background: $light-gray;
			color: $black;	
		}	
			
	}
		
}
.inner-service-boxes-2 {
	padding: 0 .5em;
		
}

.inner-service-box-bg-2 {
	padding: .5em;	
	margin: .5em;
	background: $white;	
	box-shadow: .5px .5px 2px #292929;	
}


/*map*/
#map-2 {
  height: 100%;
}



/******************************
REALESTATE PAGE AMENITIES SECTION(POST MAIN CONTENT SECTION)
******************************/
.amenities-section {
	text-align: left;
	color: #000;
}
.amenities-section p {
	border-bottom: 1px dotted #ddd;
}
.amenities-section span {
	font-weight:bold;
}

.re-contacts {
	text-decoration: none;
	color: #000;
	
	a {
		text-decoration: none;
		color: #000;
	}
}

/******************************
NAVIGATION STYLES
******************************/
.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: inline-block;
			color: $bones-pink;
			text-decoration: none;
			padding: 0.75em;
			position:relative;

		}
		button {
			display: inline-block;
			color: $bones-pink;
			text-decoration: none;
			padding: 0.75em 0.25em;
			position:relative;
			line-height:inherit;
		}

		ul.sub-menu,
		ul.children {
			li {
				a {
					padding-left: 30px;

				}
			}
		}

	} /* end .menu li */

} /* end .nav */

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
	
button.show-submenu {
    display: inline-block;
    border: none;
}


/******************************
POSTS & CONTENT STYLES
******************************/
.hentry {
	background-color: transparent;
	margin-bottom: 1.5em;

	header {
		padding: 1.5em;
	}

	footer {
		padding: 1.5em;

		p {
			margin: 0;
		}
	}

}

.single-title,
.page-title,
.entry-title {
	margin: 0;
}

/* post meta */
.byline {			
	font-style: italic;
	margin: 0;
}

/* entry content */
.entry-content {
	/*padding: 1.5em .5em 0;*/
	padding: 1.5em 0em 0;

	p {
		/*margin: 0 .5em 1.5em;*/
		margin: 0 0em 1.5em;
	}

	ul {
		li {
			list-style: disc;
			margin-left: 2em;					
		}
	}

	ol {

		li {
			list-style: decimal;
			margin-left: 2em;		
		}

	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
	}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	.wp-block-gallery {
		img {
			margin-bottom: 0;
		}
	}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

	
.gallery-item{
	display:inline-block;
	margin-right:1em;
}


/* galllery alt text styles */
.fbx-caption-desc {
	display: none; //hides from displaying as part of caption using foobox lightbox	
}

/* the tag output */
.tags {
	margin: 0;
}
	
/******************************
PAGE NAVI STYLES
******************************/
.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************
COMMENT STYLES
******************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

}

.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;
	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	/* general comment classes */
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
}

/* comment content */
.comment_content {

	p {
		margin: 0.7335em 0 1.5em;
		font-size: 1em;
		line-height: 1.5em;
	}

} /* end .commentlist .comment_content */

/* comment reply link */
.comment-reply-link {
	@extend .blue-btn;
	font-size: 0.9em;
	float: right;

	&:hover,
	&:focus {
	}

}

/* edit comment link */
.comment-edit-link {
	font-style: italic;
	margin: 0 7px;
	text-decoration: none;
	font-size: 0.9em;
}

/******************************
COMMENT FORM STYLES
******************************/
.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

#reply-title {
	margin: 0;
}

.logged-in-as {
	color: $meta-gray;
	font-style: italic;
	margin: 0;

	a {
		color: $text-color;
	}
}

.comment-form-comment {
	margin: 1.5em 0 0.75em;
}

.form-allowed-tags {
	padding: 1.5em;
	background-color: $light-gray;
	font-size: 0.9em;
}

/* comment submit button */
#submit {
	@extend .blue-btn;
	float: right;
	font-size: 1em;
}

/* comment form title */
#comment-form-title {
	margin: 0 0 1.1em;
}

/* allowed tags */
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
.nocomments {
	margin: 0 20px 1.1em;
}

/******************************
SIDEBARS & ASIDES
******************************/
.no-widgets {
	background-color: $disabled-gray;
	padding: 1.5em;
	text-align: center;
	border-radius: 2px;
}

#sidebar1 {

	.widgettitle, .widget_block > h2 {
		background: #ccc;	
		padding-left: .5em;
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {

		ul {

			li {
				list-style: square;
				margin-left: 25px;	
				
				a {
					text-decoration: none;
				}

			}
		}
	}
}

/******************************
REALESTATE PAGE SIDEBAR
******************************/
.realestate-sidebar {
	
	margin-top: 1.2em;
	border: 1px solid #ddd;
	
	p {
		margin-left: 4em;
	}

	.sched {
		display: inline-block; 
		text-decoration: none; 
		text-align: center;
		background: #d92228; 
		padding:.5em .75em;
		text-transform: uppercase;
		color: #fff;
		margin-top: 1.5em;
		margin-left: 4em;
	}	

}

/******************************
PRE FOOTER FORM AND CTA
******************************/
.pre-footer-form-title {
	text-align: center;	
}	

.inner-pre-footer-form {
	max-width: 650px;	
}

/******************************
FOOTER STYLES
******************************/
.footer {
	clear: both;
	background: $light-gray;
	text-align: center;
	
	input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select, textarea, .field {
		background: $white;	
		max-width: 100%;
	}
}
.business-name {
	font-weight: bold;
	font-size: 1.05em;
	margin-bottom: 5px;
}
.phone-number {
	margin-bottom: 5px;	
}
.email {
	margin-bottom: 5px;
}
.address {
	margin-bottom: 5px;
}
.open-close {
	display: inline;
	font-size: .9em;	
}
.weekday {
	font-weight: 700;	
}

.footer-2 {
	ul {
		margin-top: 0;
	}
}


/******************************
BOTTOM BAR STYLES
******************************/
.bottom-bar {
	background: $black;
	color: $white;	
	text-align: center;
	padding: 1em 0;
	
		a {
			color: #fff;
			text-decoration: none;
		}
	
		div {
			display: inline;
		}
}

.bottom-bar-social {
	svg {
		fill: #fff;
		height: 20px;
		vertical-align: -.2em;
	}
	.sml {
		svg {
			height: 16px;
			vertical-align: -0.1em;
		}
	}
}

/******************************
BLOG STYLES
******************************/

.blog, .archive {
	#main {
		margin-top:2.2em;
		 margin-bottom: 2.2em;
		.post {
			padding-bottom: 1em;
			border-bottom: 1px dashed #ddd;
			img.image-top {
				width:100%;
			}
			header, section, footer {
				padding: 0 8px;
			}
		}
		
		/*Blog Grid Template*/
		&.blog-grid {
			display: grid;
			grid-template-columns: 1fr;
			gap: 15px;
			& + .pagination {
				width: 100%;
				float: left;
			}
			.post {
				background: #ffffff;
				box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
				border:none;
				img.image-top {
					aspect-ratio: 3/2;
					object-fit: cover;
					width: 100%;
				}
				header, section, footer {
					padding: 0 8px;
				}
			}
		}
		
	}
	h1.blog-title, h1.page-title {
		margin-bottom: 0;
		    width: 100%;
	}
}


.footer-category {
	
	a {
		text-decoration: none;	
		background: #ccc;
		padding: .1em .4em;
		border-radius: 3px;
		color: #444;
	}	
}

#customize-preview nav select {
	display: none !important;
}
.testclass {
	width:1140px;
	background: #000;
}

.post-navigation {
	
	.prev, .next {
		background: #ccc;
		display: inline-block;
		border-radius: 3px;
		padding: 3px 10px;
		margin-bottom: 1em;
		
		a {
			text-decoration: none !important;
		}
	}
	
	.prev {
		float: left;
	}
	
	.next {
		float: right;
	}
}

/******************************
ACF STYLES
******************************/
.acf-field p {
	margin: 0 1em .5em;	
}

/******************************
CONTENT FORM STYLES
******************************/
#content {
	input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select, textarea, .field {
		background-color: #ddd;	
		max-width: 100%;
		&:active, &:focus {
			 filter: brightness(105%);
		}
	}
}

/******************************
SHIFTNAV STYLES
******************************/

button#shiftnav-toggle-main-button svg  {
   fill:#fff;
}

/******************************
ALPHA COLOR PICKER STYLES
******************************/

.pluto-alpha-container .transparency {
    height:24px;
    width:100%;
    background-color:#FFF;
    background-image:url(../../images/transparency-grid.png);
    box-shadow:0 0 5px rgba(0,0,0,0.4) inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:0;
}

.pluto-alpha-container .ui-slider-handle {
    color:#777;
    background-color:#FFF;
    text-shadow:0 1px 0 #FFF;
    text-decoration:none;
    position:absolute;
    z-index:2;
    box-shadow:0 1px 2px rgba(0,0,0,0.2);
    border:1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity:0.9;
    margin-top:-2px;
    height:20px;
    cursor:ew-resize;
    font-size:12px;
    padding:3px;
}

.pluto-alpha-container .ui-slider {
    position:relative;
    text-align:center;
    width:88%;
}

.wp-picker-container a.wp-picker-open ~ div.pluto-alpha-container {
    display:block;
}

.pluto-alpha-container {
    box-sizing:padding-box;
    display:none;
    border:1px solid #dfdfdf;
    border-top:none;
    background:#FFF;
    padding:0 11px 6px;
}

.customize-control-alphacolor .wp-picker-container .iris-picker {
    border-bottom:none;
}

/******************************
WORDPRESS CUSTOMIZER
******************************/
.customize-partial-edit-shortcut-basic-or-advanced {
    width: 100%;
    height: 100%;
	z-index: 999999;
    background: rgba(0,0,0,.9);
	
	button {
		left: 46% !important;
		top: 10%;
		
		&:after {
			content:"Click to select basic or advanced blueprint";
			display: block;
			position: absolute;
			width: 552px;
			font-size: 1.5em;
			margin-left: -248px;
			margin-top: 31px;			
		}
	}
}

.customize-partial-edit-shortcut-topbar-color-picker {
	right: 50% !important;
	margin-top:	-15px !important;
}
.customize-partial-edit-shortcut-phone-number {
	margin-left: 161px !important;
}

.customize-partial-edit-shortcut-logo-nav-bg-color-picker {
	left: 11.3% !important;
	margin-top: -10px !important;	
}

.customize-partial-edit-shortcut-banner-img-upload {
	left: 4% !important;
	
}
.customize-partial-edit-shortcut-slider-img-upload-1, .customize-partial-edit-shortcut-slider-img-upload-2, .customize-partial-edit-shortcut-slider-img-upload-3, .customize-partial-edit-shortcut-slider-img-upload-4, .customize-partial-edit-shortcut-slider-img-upload-5 {
    margin-left: -4%;
}
.customize-partial-edit-shortcut-cta-box-color, .customize-partial-edit-shortcut-cta-box-color-1, .customize-partial-edit-shortcut-cta-box-color-2, .customize-partial-edit-shortcut-cta-box-color-3, .customize-partial-edit-shortcut-cta-box-color-4, .customize-partial-edit-shortcut-cta-box-color-5 {
	position: relative !important;
    left: 9px;
    top: 132px;
}
.customize-partial-edit-shortcut-cta-title, .customize-partial-edit-shortcut-cta-title-1, .customize-partial-edit-shortcut-cta-title-2, .customize-partial-edit-shortcut-cta-title-3, .customize-partial-edit-shortcut-cta-title-4, .customize-partial-edit-shortcut-cta-title-5 {
	margin-left: -195px !important;
}

.customize-partial-edit-shortcut-service-section-bg-color-pre {
	left: 4% !important;
}
.customize-partial-edit-shortcut-service-box-color-pre {
	position: relative !important;
    left: 0;
	margin-top: -22px !important;
    margin-left: 9px !important;
}

.customize-partial-edit-shortcut-service-box-1-title-pre, .customize-partial-edit-shortcut-service-box-2-title-pre, .customize-partial-edit-shortcut-service-box-3-title-pre,.customize-partial-edit-shortcut-service-box-4-title-pre {
	margin-left: 90px !important;
    margin-top: 31px !important;	
}

#pre-content-widgets .customize-partial-edit-shortcut {
	margin-top: -20px !important;
}

.customize-partial-edit-shortcut-service-section-bg-color-pre-2 {
	left: 4% !important;
}
.customize-partial-edit-shortcut-service-box-color-pre-2 {
	position: relative !important;
    left: 0;
	margin-top: -22px !important;
    margin-left: 9px !important;
}

.customize-partial-edit-shortcut-service-box-1-title-pre-2, .customize-partial-edit-shortcut-service-box-2-title-pre-2, .customize-partial-edit-shortcut-service-box-3-title-pre-2,.customize-partial-edit-shortcut-service-box-4-title-pre-2 {
	margin-left: 90px !important;
    margin-top: 31px !important;	
}

#pre-content-widgets-2 .customize-partial-edit-shortcut {
	margin-top: -20px !important;
}

.customize-partial-edit-shortcut-service-section-bg-color {
	left: 4% !important;
}
.customize-partial-edit-shortcut-service-box-color {
	position: relative !important;
    left: 0;
	margin-top: -22px !important;
    margin-left: 9px !important;
}
.customize-partial-edit-shortcut-service-box-1-title, .customize-partial-edit-shortcut-service-box-2-title, .customize-partial-edit-shortcut-service-box-3-title, .customize-partial-edit-shortcut-service-box-4-title, .customize-partial-edit-shortcut-service-box-1-title-2 {
	margin-left: 90px !important;
    margin-top: 31px !important;	
}
#post-content-widgets .customize-partial-edit-shortcut {
	margin-top: -20px !important;
}

.customize-partial-edit-shortcut-service-section-bg-color-2, .customize-partial-edit-shortcut-service-section-bg-color-3, .customize-partial-edit-shortcut-service-section-bg-color-4, .customize-partial-edit-shortcut-service-section-bg-color-5, .customize-partial-edit-shortcut-service-section-bg-color-6 {
	left: 4% !important;
}
.customize-partial-edit-shortcut-service-box-color-2, .customize-partial-edit-shortcut-service-box-color-3, .customize-partial-edit-shortcut-service-box-color-4, .customize-partial-edit-shortcut-service-box-color-5, .customize-partial-edit-shortcut-service-box-color-6 {
	position: relative !important;
    left: 0;
	margin-top: -22px !important;
    margin-left: 9px !important;
}
.customize-partial-edit-shortcut-service-box-1-title-2, .customize-partial-edit-shortcut-service-box-2-title-2, .customize-partial-edit-shortcut-service-box-3-title-2, .customize-partial-edit-shortcut-service-box-4-title-2,.customize-partial-edit-shortcut-service-box-1-title-3, .customize-partial-edit-shortcut-service-box-2-title-3, .customize-partial-edit-shortcut-service-box-3-title-3, .customize-partial-edit-shortcut-service-box-4-title-3,.customize-partial-edit-shortcut-service-box-1-title-4, .customize-partial-edit-shortcut-service-box-2-title-4, .customize-partial-edit-shortcut-service-box-3-title-4, .customize-partial-edit-shortcut-service-box-4-title-4,.customize-partial-edit-shortcut-service-box-1-title-5, .customize-partial-edit-shortcut-service-box-2-title-5, .customize-partial-edit-shortcut-service-box-3-title-5, .customize-partial-edit-shortcut-service-box-4-title-5,.customize-partial-edit-shortcut-service-box-1-title-6, .customize-partial-edit-shortcut-service-box-2-title-6, .customize-partial-edit-shortcut-service-box-3-title-6, .customize-partial-edit-shortcut-service-box-4-title-6 {
	margin-left: 90px !important;
    margin-top: 31px !important;	
}
#post-content-widgets-2 .customize-partial-edit-shortcut-2 {
	margin-top: -20px !important;
}

nav .customize-partial-edit-shortcut {
	//display: none;
	//margin-left: -8px !important;	
	margin-top: 8px !important;		
}
nav .customize-partial-edit-shortcut-nav-item-bg-color-picker {
	position: relative !important;
	display: block !important
		
}
.customize-partial-edit-shortcut-nav-bg-color-picker {
	margin-left: -100px !important;	
	
}

#sidebar1 .customize-partial-edit-shortcut-widget-title-bg-color {
	position: relative !important;
    float: right !important;
    margin-right: -33px !important;
}

.blog .customize-partial-edit-shortcut-front-page-layout, .single .customize-partial-edit-shortcut-front-page-layout {
	display: none !important;
}

#customize-control-front-page-layout label {
	font-weight: bold !important;
}

.customize-partial-edit-shortcut-pre-footer-form-bg-color, .customize-partial-edit-shortcut-pre-footer-cta-section-bg-color {
	left: 63px !important;
}
	
.customize-partial-edit-shortcut-business-info-title {
	margin-left: -30px !important;	
}
.customize-partial-edit-shortcut-footer-bg-color {
	left: 4% !important;
	margin-top: 15px !important;
}